body {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    padding: 10px; 
    background-color: #ffffff;    
}

.intro {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: #5500ff;
}

.animacao-intro {
    max-width: 600px; 
    max-height: 600px;
}

.intro h1 {
    margin: 7.5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 36pt;
    font-weight: bold;
    color: #ffffff;
}

.intro h2 {
    margin: 7.5px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14pt;
    text-align: justify;
    color: #ffffff;
}

.texto-intro .submit, #entre-em-contato .submit {
    margin: 15px;
    padding: 7.5px;
    min-width: 145px;
    min-height: 40px;
    max-height: 40px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16pt;
    font-weight: bolder;
    border-style: none;
    border-radius: 5px;
    box-shadow: none;
    background-color: #10ebb4;
    color: #5500ff; 
    -webkit-appearance: none;
}

.submit:hover {
    border: 1.5px solid #ffffff;
    background-color: #5500ff;
    color: #ffffff;
    -webkit-appearance: none;
}

.produtos {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.produtos .seta-carrossel {
    max-width: 60px;
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
}

.seta-carrossel {
    margin-top: 25%;
}

.seta-carrossel:hover, .seta-carrossel:active {
    background-color: #10ebb4;
}

.img-produto {
    max-width: 90%;
    margin: 0 auto;
    display: block;
}

.titulo-produtos, .sobre-a-empresa h1 {
    margin: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    color: #5500ff;
}

.produtos h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    color: #e900fe;
}

.produtos ul {
    padding: 0;
    list-style: none;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 12pt;
}

.produtos li {
    margin: 10px;
    font-weight: bold;
}

li::before {
    content: "\2022";
    color: #e900fe;
    padding-right: 1em;
}

.produtos p, .sobre-a-empresa p {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 12pt;
    text-align: justify;
}

.oculto {
    display: none;
}

.sobre-a-empresa {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5500ff;
}

#entre-em-contato {
    max-width: 80%;
}

#entre-em-contato h1 {
    margin: 0 auto;
    padding-top: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 24pt;
    text-align: center;
    color: #ffffff;
}

#entre-em-contato h2, .redes-sociais h2 {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 12pt;
    text-align: center;
    color: #ffffff;
}

#entre-em-contato input {
    margin: 7.5px;
    min-width: 250px;
    max-height: 25px;
    min-height: 25px;
    border-style: none;
    border-radius: 5px;
}

.input-contato form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais {
    margin: 0;
    background-color: transparent;
}

.icones {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icone {
    margin: 15px;
}

@media (max-width: 800px) {

    .intro {
        max-width: 100%;
        flex-wrap: wrap;
    }

    .seta-carrossel {
        display: none;
    }

    .sobre-a-empresa {
        max-width: 80%;
    }

    #entre-em-contato .submit {
        margin: 7.5px auto;
        max-width: 150px;
        min-height: 40px;   
    }

    .submit:active {
        border: 1.5px solid #ffffff;
        background-color: #5500ff;
        color: #ffffff;
    }

    .img-produto {
        max-width: 95%;
    }

    .produtos, .input-contato form {
        display: flex;
        flex-direction: column;
    }

}
